@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body, html {
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  .bg-img {
    /* The image used */
    background-image: url("https://images.freeimages.com/images/large-previews/c53/yellowstone-river-1361768.jpg");
  
    min-height: 880px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  /* Add styles to the form container */
  .container {
    position: absolute;
    right: 0;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color:lightblue;
  }
  input[type=text] ,input[type=number],input[type=email] ,#homeaddress{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  input[type=text]:focus,input[type=number]:focus,input[type=email]:focus {
    background-color: #ddd;
  }
  #validate {
    background-color: blue;
    color: gold;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  .validate:hover #validate:hover {
    opacity: 1;
  }
  #pannumber {
    text-transform: uppercase;
  }

  .error{
    display: show;
    margin-left: 0px;
    color: red;
  }		
  #validate:hover{
  background-color: indigo;
  }
.valid{
  border: 2px solid green;
}  
